@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Route editor is a web application written in .NET Core 2.0 using new Razor Pages web technology.</p>
