@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Aebi Schmidt Nederland B.V.<br />
    Handelsweg 8, 7451 PJ Holten<br />
    <abbr title="Phone">P:</abbr>
    0548 370 000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@aebi-schmidt.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@aebi-schmidt.com</a>
</address>
