@page
@model RazorPages.Pages.routemapModel
@{
    ViewData["Title"] = "route 66";
}

<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.0.2/css/ol.css" type="text/css">
    <style>
        .map {
            height: 700px;
            width: 100%;
        }
    </style>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.0.2/build/ol.js"></script>
    <title>OpenLayers example</title>
</head>
<body>
    <div id="map" class="map"></div>
    <script type="text/javascript">
        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([52.2777, 6.3988], "EPSG:3857"),
                zoom: 2
            })
        });
        //var pro = new ol.Projection();
        //alert("1111");
    </script>
</body>
</html>